@model List<CounterListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<main class="main">
    <div class="page-content">
        <section class="mt-4 pt-10 pb-8">
            <div class="container">
                <div>
                    <a asp-action="Create" class="btn btn-primary">Yeni BreadCrumb Ekle</a>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="code-template">
                            <div class="accordion accordion-card-bg accordion-primary accordion-boxed accordion-plus accordion-gutter-md code-content">
                                @for (int item = 0; item < Model?.Count; item++)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#collapse6-2" class="expand">@Model[item].Title</a>
                                        </div>
                                        <div id="collapse6-2" class="collapsed">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                @if (@Model[item].Status == true)
                                                                {
                                                                    <input type="checkbox" name="Status" id="switch" checked disabled />
                                                                    <label class="togglechck" for="switch">Toggle</label>
                                                                }
                                                                else if (@Model[item].Status == false)
                                                                {
                                                                    <input type="checkbox" name="Status" id="switch" disabled />
                                                                    <label class="togglechck" for="switch">Toggle</label>
                                                                }
                                                            </div>
                                                            <div class="col-md-5">
                                                                <p class="post-content">
                                                                    @Model[item].Count
                                                                </p>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <a asp-action="Update" asp-route-id="@Model[item].Id" class="btn btn-link btn-secondary btn-underline">
                                                                    Güncelle <i class="far fa-edit"></i>
                                                                </a>
                                                                |
                                                                <a asp-action="Remove" asp-route-id="@Model[item].Id" class="btn btn-link btn-secondary btn-underline">
                                                                    Sil <i class="fas fa-eraser"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</main>

