@page "/Counter"
@using Blazor_UI.Data
@using DTOs
@inject IHttpClientFactory ClientFactory
@inject CounterApiRequests counterapi

<main class="main">
    <div class="page-content">
        <section class="mt-4 pt-10 pb-8">
            <div class="container">
                <div>
                    <a href="/Counter/Create" class="btn btn-primary">Yeni Counter Ekle</a>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="code-template">
                            <div class="accordion accordion-card-bg accordion-primary accordion-boxed accordion-plus accordion-gutter-md code-content">
                                @foreach (var item in countermanager)
                                {
                                    <div class="card">
                                        <div class="card-header">
                                            <a href="#collapse6-2" class="expand">@item.Title</a>
                                        </div>
                                        <div id="collapse6-2" class="collapsed">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                @if (@item.Status == true)
                                                                {
                                                                    <input type="checkbox" name="Status" id="switch" checked disabled />
                                                                    <label class="togglechck" for="switch">Toggle</label>
                                                                }
                                                                else if (@item.Status == false)
                                                                {
                                                                    <input type="checkbox" name="Status" id="switch" disabled />
                                                                    <label class="togglechck" for="switch">Toggle</label>
                                                                }
                                                            </div>
                                                            <div class="col-md-5">
                                                                <p class="post-content">
                                                                    @item.Count
                                                                </p>
                                                            </div>
                                                            <div class="col-md-5">
                                                                <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-link btn-secondary btn-underline">
                                                                    Güncelle <i class="far fa-edit"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</main>



@code {
    private List<CounterListDto> countermanager = new List<CounterListDto>();

    protected override async Task OnInitializedAsync()
    {
        countermanager = await counterapi.GetAllAsync();
    }
}
